@mixin border-radius($value) {
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	-o-border-radius: $value;
	border-radius: $value;
}

@mixin transition($value) {
	-webkit-transition: $value;
	//-moz-transition: $value
	//-ms-transition: $value
	transition: $value;
}

@mixin box-shadow($value...) {
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	box-shadow: $value;
}

@mixin box-sizing($value) {
	-webkit-box-sizing: $value;
	-moz-box-sizing: $value;
	box-sizing: $value;
}