/* #region Общие переменные */
$field-name: 'form_field' !default;
/* #endregion*/
/* #region Переменные метки */
$field-label_color: #000 !default;
/* #endregion */
/* #region Переменные поля */
$field-input_color: #000 !default;
$field-input_background-color: #fff !default;
$field-input_border-color: #000 !default;
$field-input_border-color-error: #ff0000 !default;
$field-input_placeholder-color: #000 !default;
/* #endregion */
