$field-name: 'form_field' !default;

$field-label_color: #000 !default;

$field-input_color: #000 !default;
$field-input_background-color: #fff !default;
$field-input_border-color: #000 !default;
$field-input_border-color-error: #ff0000 !default;