@import '~timcowebapps-scss-dir/_global.scss';
$global-enable-rounded: true;

@import '~timcowebapps-scss-dir/mixins/_border-radius.scss';
@import '~timcowebapps-scss-dir/mixins/_box-sizing.scss';
@import '~timcowebapps-scss-dir/mixins/_transition.scss';
@import '~timcowebapps-scss-dir/mixins/_shadow.scss';
@import '~timcowebapps-scss-dir/utils/_bem.scss';

.form_group {
	margin-bottom: 15px;

	input[type=text],
	input[type=password] {
		background-color: transparent;
		background-image: none;
		@include border-radius(3px);
		position: relative;
		height: auto;
		width: 100%;
		margin: 0;
		padding: 8px 16px;
		@include box-sizing(border-box);
		outline: none;

		// Стили шрифта
		color: #263238;
		font-size: 14px;
	}

	@include modifier("valid") {
		input[type=text],
		input[type=password] {
			@include box-shadow(none);
		}
	}

	@include modifier("error") {
		input[type=text],
		input[type=password] {
			border: 1px solid #f24e4e;
		}
	}

	@include modifier("empty") {
		input[type=text],
		input[type=password] {
			@include box-shadow(none);
		}
	}

	@include modifier("focused") {
		input[type=text],
		input[type=password] {
			border: 1px solid rgba(0, 0, 0, .04);
			@include box-shadow(0 0 6px rgba(0, 0, 0, .04));
		}
	}

	@include modifier("unfocused") {
		input[type=text],
		input[type=password] {
			border: 1px solid rgba(0, 0, 0, .04);
			@include box-shadow(none);
		}
	}
}

.form_group {
	@include element("label") {
		font-size: 16px;
		font-weight: 700;
		display: inline-block;
		margin-bottom: 5px;

		@include element("required_field") {
			color: #dd2c00;
		}
	}
}

.help_block {
	display: block;
	margin-top: 5px;

	.error {
		color: #dd2c00;
	}
}
